---
layout: default
title: Home
---
<header>
	<div class="container">
		<div class="column">
			<div>
				<h1 class="editable">AI stealth startup</h1>
				<p class="editable">Try our AI chat built on political party manifestos for the 2024 South African National election.</p>
				<div class="button">
					<a  target="_blank" href="https://election.mzansi.ai">Try our election chatbot</a>
				</div>
			</div>
		</div>
		<div class="column">
			<img src="{{ site.baseurl }}/images/chat_bubble.png" alt="chat">
		</div>
	</div>
</header>

<div class="container">
	<h2 class="editable" style="text-align: center;">Why Mzansi.ai</h2>

	<ul class="thirds">
		<li>
			<div class="image">{% include icons/site.html icon="population" %}</div>
			<h3 class="editable">Mzansi</h3>
			<p class="editable">Mzansi, derived from the Xhosa noun uMzantsi meaning "south", is a colloquial name for South Africa. We want to put the South and particularly South Africa on the AI map</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="economy" %}</div>
			<h3 class="editable">Democratizing AI</h3>
			<p class="editable">Using AI and opensource to democratize access within Southern Africa.</p>
		</li>

		<li>
			<div class="image">{% include icons/site.html icon="conditions" %}</div>
			<h3 class="editable">Local Languages</h3>
			<p class="editable">Most LLMs and AI systems are focused on English, Chinese, French, etc. Want to chat in your home language?</p>
		</li>
	</ul>
</div>

<div class="container">
	<div class="columns">
		<div>
			<img src="{{ site.baseurl }}/images/za-ai.webp" alt="Sheep">
		</div>
		<div>
			<h2 class="editable">Our Mission</h2>

			<p class="editable">Don't leave Southern Africa and Mzansi in particular, behind in the AI tech revolution. Our mission is to innovate in AI for uniquely South African conversations and experiences!</p>
		</div>
	</div>
</div>

<!-- <div class="container">
	<hr>
	<blockquote>
		<p class="quote editable">The ultimate measure of a sheep is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.</p>
		<div class="attribute">
			<p class="meta">
				<span class="image"><img class="editable" src="{{ site.baseurl }}/images/wooly.jpg" alt="Wooly"></span>
				<span class="author editable"><strong>Wooly McBaa</strong></span>
			</p>
		</div>
	</blockquote>
</div> -->

<div class="darker">
	<div class="container">
		<h2 class="editable">Join us</h2>
		<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress.</p>
		<form action="{{ site.newsletter_action }}" method="post">
			<input type="text" name="EMAIL" placeholder="Email">
			<input type="submit" value="Sign up"/>
		</form>
	</div>
</div>

<div class="darker">
	<div class="container">
	<h2 class="editable">Contact us</h2>
	<p class="editable" style="text-align: center;">Sign up to hear the latest news and progress.</p>
	<form id="contactForm" action="https://api.web3forms.com/submit" method="POST">
            <input type="hidden" name="access_key" value="6278c22e-1db2-41b2-bc7a-13875dfae289">
            <div class="editable">
                <input type="text" id="name" name="name" placeholder="Your Name">
            </div>
            <div class="editable">
                <input type="text" id="message" name="message" placeholder="Your message">

            </div>
            <div class="editable">
                <input type="text" id="email" name="email" placeholder="Your Email"><input type="submit" value="Contact us"/>
            </div>
	</form>
	</div>
</div>
<!-- Required for hCaptcha -->
<script src="https://web3forms.com/client/script.js" async defer></script>

<!-- <div class="container" id="donate">
	<h2 class="editable">Make a donation</h2>
	<div class="donate">
		{{ site.donation_embed }}
	</div>
</div> -->

<div class="darker">
	<div class="container">
		<h2 class="editable">Updates</h2>
		
		<p class="editable" style="text-align: center;">Watch this space.</p>
		<!-- <p class="editor-link"><a href="cloudcannon:collections/_posts" class="btn"><strong>&#9998;</strong> Add Update</a></p> -->
		<div class="posts">
			{% for post in site.posts %}
				<div class="post"  href="{{ site.url }}/{{ post.url }}">
					<div class="image" style="background-image: url({{ post.featured_image}})"></div>
					<div class="post-content">
						<p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
						<h3><a  target="_blank" href="{{ site.url }}/{{ post.url }}">{{ post.title }}</a></h3>

						{{ post.content | truncate: 500, "... " }}<a target="_blank" href="{{ site.url }}/{{ post.url }}">read more.</a>
						<!-- <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="btn"><strong>&#9998;</strong> Edit Update</a></p> -->
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
